#player {
  width: 100%;
  min-height: 400px;
  height: calc(100vw * 9 / 16);
}

@media (min-width: 640px) {
  #player {
    height: calc(100vw * 9 / 16);
  }
}

@media (min-width: 768px) {
  #player {
    height: calc(100vw * 9 / 16);
  }
}

@media (min-width: 1024px) {
  #player {
    height: calc(100vh - 64px);
  }
}